<!--Primera pagina de la aplicacion para usar la tarjeta de citas-->
<ion-header>
  <ion-toolbar>
    <ion-title>Citas Famosas</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/configuraciones">
        <ion-icon name="settings-outline" class="icon-setings" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <h2 class="ion-text-center">Cita del Día</h2>
  
  <!--  TarjetaCitaComponent -->
  <app-tarjeta-cita [cita]="citaActual"></app-tarjeta-cita>

  <!-- IonicModule -->
  <ion-button 
    (click)="cargarCitaAleatoria()" 
    expand="block" 
    color="primary"
    class="ion-margin-top">
    <ion-icon name="refresh" slot="start"></ion-icon>
    Nueva Cita Aleatoria
  </ion-button>

    <ion-button 
    *ngIf="permitirBorrarDesdeInicio" 
    expand="full" 
    color="danger"
    class="ion-margin-top"
    (click)="borrarCitaActual()">
    <ion-icon name="trash" slot="start"></ion-icon>
    Eliminar Cita Actual
  </ion-button>

  <ion-button 
    expand="block" 
    routerLink="/gestion-de-citas" 
    color="secondary"
    class="ion-margin-top">
    <ion-icon name="list-outline" slot="start"></ion-icon>
    Gestionar Citas
  </ion-button>

</ion-content>