

ion-content {
  --background: #f5f5f5;
}

blockquote {
  font-size: 1.2em;
  font-style: italic;
  border-left: 4px solid var(--ion-color-primary);
  padding-left: 16px;
  margin: 16px 0;
}

.icon-settings {
  font-size: 24px;   
  color: white;     
}

h2 {
  font-size: 22px;
  font-weight: 600;
  color: #222;
  margin-top: 16px;
  margin-bottom: 12px;
}
p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  margin-bottom: 16px;
}